{{each items}}
<section  class="floor ${clearString(name)}" name='${name}'>
	<div class="section-wrapper"> 

	<div class="titulos"><h1>${name}</h1> </div>
		<div class="paraelems left" style="position:relative; width:0; left:-80px;">
			<img style="width:100px; height:100%" src="assets/images/parallax/lampara.png">
		</div>
		<div class="floorHome floorContent">
<!--<div id="titulos" class="icon_header"><h1></h1></div>-->

	    	<div class="left ${cnf.holders.blogCnt}"></div>
	    	<div class="left ${cnf.holders.prmCnt}"></div>
	    	<div class="left ${cnf.holders.stdCnt}"></div>
	    	<div class="clear"></div>
	    </div>
	    <div class="floorStandards floorContent hide">
	    </div>
	    <div class="floorPremiums floorContent hide">
	    </div>
    </div>
    <div class="sharer sharer-floor">
    	<div class="sharer-wrp">
			<div class="facebook left">
				<img src="assets/images/facebook-c.png" onclick="share.fb.floor('${name}');"/>
			</div>
			<div class="twitter left">
				<img src="assets/images/twittear.png" onclick="share.tw.floor('${name}');"/>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
</section>
{{/each}}
