{{each items}}
<section  class="floor ${clearString(name)}" name='${name}'>
	<div class="section-wrapper"> 
		<div class="floorHome floorContent">
	    	<div><span> </span><h1>${descr}</h1> </div>
	    	<div class="left ${cnf.holders.blogCnt}"></div>
	    	<div class="left ${cnf.holders.prmCnt}"></div>
	    	<div class="left ${cnf.holders.stdCnt}"></div>
	    	<div class="clear"></div>
	    </div>
	    <div class="floorStandards floorContent hide">
	    </div>
	    <div class="floorPremiums floorContent hide">
	    </div>
    </div>
</section>
{{/each}}
