<section class="floor menu">
	<div class="clear parallaxWrapper">
	
	   <div class="parallax-layer" style="width:100px; height:150px">
	        <img src="assets/images/parallax/home01.png" />
	   </div>
	   <div class="parallax-layer" style="width:100px; height:150px">
	        <img src="assets/images/parallax/home02.png" />
	   </div>
	   <div class="parallax-layer" style="width:100px; height:150px">
	        <img src="assets/images/parallax/home03.png" />
	   </div>
	   <div class="parallax-layer" style="width:100px; height:150px">
	        <img src="assets/images/parallax/home04.png" />
	   </div>
	
	</div>
	<div class="section-back">
		<div class="section-wrapper">
			<h4>Bienvenido</h4>
		    <h1>e-Servicios</h1>
		    <div class="menu-big-wrapper">
			{{each(i,item) items}}
			             <div name="${item.name}" onclick="es.menuChange(this);" class="ascensorLink ascensorLink${i+2} ${clearString(item.name)}">
			             	<div class="wrapper">
				             	<h2><em>${item.name}.</em></h2>
				             	<div class="span">${item.description}</div> 
			             	</div>
			             </div>
			{{/each}}
			</div>
		</div>
	</div>
	
</section>