<section class="floor menu">
	
	<div class="section-back">
		<!-- <div class="clear parallaxWrapper">
	
		   <div class="parallax-layer" style="width:100px; height:150px">
		        <img src="assets/images/parallax/home01.png" />
		   </div>
		   <div class="parallax-layer" style="width:100px; height:150px">
		        <img src="assets/images/parallax/home02.png" />
		   </div>
		   <div class="parallax-layer" style="width:100px; height:150px">
		        <img src="assets/images/parallax/home03.png" />
		   </div>
		   <div class="parallax-layer" style="width:100px; height:150px">
		        <img src="assets/images/parallax/home04.png" />
		   </div>
		
		</div> -->
		<div class="section-wrapper">
			<h4>Bienvenido</h4>
		    <h1>e-Servicios</h1>
		    <div class="menu-big-wrapper">
			{{each(i,item) items}}
			             <div name="${item.name}" onclick="es.menuChange(this);" class="ascensorLink ascensorLink${i+2} ${clearString(item.name)}">
			             	<div class="wrapper">
				             	<h2><em>${item.name}.</em></h2>
				             	<div class="span">${item.description}</div> 
			             	</div>
			             </div>
			{{/each}}
			</div>
			<div class="sharer">
				<div class="facebook left">
					<img src="assets/images/facebook-c.png" onclick="share.fb.floor('e-Banca');"/>
				</div>
				<div class="twitter left">
					<a href="https://twitter.com/share" class="twitter-share-button" data-text="e-Servicios" data-lang="es" data-count="none">Twittear</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
		
	</div>
	
</section>