/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100); 

/************/
@import url ("shopping.css");
@import url ("gobierno.css");
@import url ("servicios.css");
@import url ("ebanco.css");


html,
button,
input,
select,
textarea {
    color: #222;
}

/***Typography***/
h1, h2, h3 {
	font-family:Arial,Helvetica, sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clear{
	clear:both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.hide{
	display: none;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Menu*/


header{
	z-index: 1;
}


section.menu h4, section.menu h1{
	 color: #FFFFFF;
    font-family: Lato,Times,serif;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: -0.025em;
    line-height: 100%;
    text-shadow: 0 1px 1px black;
    margin: 0;
}
section.menu h1{
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 75%;
    margin-bottom: 30px;
    opacity: 0.4;
}
section.menu .ascensorLink:hover, section.menu .ascensorLink.eBanca:hover, section.menu .ascensorLink.eGobierno:hover{
	background-color: #2C3742;
}
section.menu .section-back{
	background: url("../images/home_lamp.png") no-repeat center top;
	padding-top: 126px;
}

section.menu .section-wrapper{
	
}
section.menu .ascensorLink{
	 border-bottom: thin dotted white;
    color: #DBE4EA;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 74px;
    margin-bottom: 3px;
    /*padding-bottom: 42px;*/
    padding-top: 10px;
    width: 565px;
    font-style: normal;
    background: url("../images/iconoShop.png") no-repeat left center;
    background-position-y: -3px;
}

section.menu .ascensorLink.eBanca{
	background: url("../images/iconoBanca.png") no-repeat left center;	
}

section.menu .ascensorLink.eGobierno{
	background: url("../images/iconoGobierno.png") no-repeat left center;	
}
section.menu .ascensorLink .wrapper{
	background: url("../images/flecha.png") no-repeat right center;	
}
section.menu .ascensorLink h2{
	color: #FFFFFF;
    font-family: Lato,Times,serif;
    font-size: 26px;
    font-weight: 600;
    margin: 0px;
}
section.menu .ascensorLink h2 em{
	font-style: normal;
}
section.menu .ascensorLink .span, section.menu .ascensorLink h2{
	margin-left: 70px;
	width: 440px;
}

#menu-top {
    background: url("../images/remates.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 58px;
    margin: 0 auto;
    padding: 0 60px;
    width: 605px;
}
#menu-top li {
    background: none repeat scroll 0 0 #000000;
    color: transparent;
    cursor: pointer;
    float: left;
    height: 58px;
    list-style: none outside none;
    text-indent: -1e+8px;
    width: 150px;
    
}
#menu-top li.home{
    background: url("../images/navii.png") no-repeat scroll 0 0 transparent;
}
#menu-top li.eBanca:hover, #menu-top li.eBanca.ascensorLinkActive {
    background: url("../images/navii.png") no-repeat scroll -243px -282px transparent;
}
#menu-top li.eBanca {
    background: url("../images/navii.png") no-repeat scroll 0 -282px transparent;
}
#menu-top li.eGobierno {
    background: url("../images/navii.png") no-repeat scroll 0 -141px transparent;
}
#menu-top li.eShopping {
    background: url("../images/navii.png") no-repeat scroll 0 -423px transparent;
}
nav{
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 11;
	display: none;
}
#navmenu{
	margin: auto;
}

.section-wrapper {
    margin: auto;
    width: 565px;
}


#floors-wrapper{
	overflow:hidden;
	height: 400px;
}

#floors-wrapper section:first-child article h1{
	font-size: 30px;
}

section{
	overflow:auto;
box-shadow: inset 0 0 0px 5px rgb(0,0,0);
}



section article{
	margin: 165px 0 0;
	height: 307px;
	
}

#navigationMap{
	position: fixed;
	right:20px;
	bottom:20px;
	width: 140px;
	height:40px;
	z-index: 999;
}

#navigationMap ul li a{
	background: #eee;
	height:10px;
	width: 10px;
	border-radius:2px;
	position: fixed;
}

#navigationMap .ascensorLink2, #navigationMap  .ascensorLink3{
	margin-left:30px;
}

#navigationMap .ascensorLink3{
	margin-top: 30px;
}

#navigationMap .ascensorLink4{
	margin-left: 60px;
}

#navigationMap .ascensorLink5, #navigationMap  .ascensorLink6{
	margin-left: 90px;
}

#navigationMap .ascensorLink6{
	margin-top: -30px;
}

#navigationMap .ascensorLink7{
	margin-left: 120px;
}

#navigationMap .ascensorLinkActive{
	background: #333;
}

#navigationMap .ascensorLink:hover{
	background:#444;
}


#ascensorFloor1{
	background: #F9B233;	
}

#ascensorFloor2{
	background: #71B5E5;	
}

#ascensorFloor3{
	background: #B3CE4A;	
}

#ascensorFloor4{
	background: #EB5D45;	
}

#ascensorFloor5{
	background: #4AAEB6;	
}

#ascensorFloor6{
	background: #E7DFBF;	
}

#ascensorFloor7{
	background: #CA9E67;	
}

/*parallax*/
.parallaxWrapper {
   position:absolute; overflow:hidden; width:100%; height:100%;
}
.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
	display:none;
}


/*element style */
element.style {
    overflow: hidden;
    padding: 0;
    width: 385px;
}


.bncaScroll{
	border:5px solid white;
	height:307px;
	width:395px;
}

.blogContent img {
    background: none repeat scroll 0 0 transparent;
}

.back{	
	margin:-20px 0 0;
	background:url(../images/missing_article.png) transparent;
}

.posted{
	position:relative;
	margin:0;
	height:auto;
	width:395px;
}

/*BLOG*/
.blogContent{
	width: 385px;
	height: 307px;
	overflow: hidden;
	background:url(../images/back_box_slide.png) transparent;
	border:5px solid white;
	float:left;
}

.blogContent h1{
	color:#fff;
	font-size:18px;
	margin:15px 0px 0px 20px;
	/*margin-top:50px;*/
}


.blogContent article{
	width: 385px;
	height: 160px;
	overflow: hidden;
	background:#000;
	background:url(../images/back_box_text_black.png) transparent;
}

.blogContent article p{
	padding:0px 15px 10px 10px;
}

.blogBody{
	height: 100px;
}
.blogContent .jcarousel-prev{
	width: 25px;
	height: 27px;
	/*background-color: red;*/
	background: url(../images/blog_ant.gif);
	top: 30%;
	left:0px;
	position: absolute;
	cursor:pointer;
}

.blogContent .jcarousel-next{
	width: 25px;
	height: 27px;
	/*background-color: red;*/
	background: url(../images/blog_sig.gif);
	top: 30%;
	position: absolute;
	cursor:pointer;
}

.blogContent .jcarousel-next{
	right: 0px;
}


/*Premium*/

.prmContent, .stdContent{
	width: 716px;
	position: relative;
}
.floorContent{
	position: relative;
}

/*Standard*/
.floorStandards{
	position:absolute;
	width: 100%;
}


