/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clear{
	clear:both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.hide{
	display: none;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



#floors-wrapper{
	overflow:hidden;
	height: 400px;
}

#floors-wrapper section:first-child article h1{
	font-size: 30px;
}

section{
	overflow:auto;
box-shadow: inset 0 0 0px 5px rgb(0,0,0);
}

section article{
	height: 307px;
}

#navigationMap{
	position: fixed;
	right:20px;
	bottom:20px;
	width: 140px;
	height:40px;
	z-index: 999;
}

#navigationMap ul li a{
	background: #eee;
	height:10px;
	width: 10px;
	border-radius:2px;
	position: fixed;
}

#navigationMap .ascensorLink2, #navigationMap  .ascensorLink3{
	margin-left:30px;
}

#navigationMap .ascensorLink3{
	margin-top: 30px;
}

#navigationMap .ascensorLink4{
	margin-left: 60px;
}

#navigationMap .ascensorLink5, #navigationMap  .ascensorLink6{
	margin-left: 90px;
}

#navigationMap .ascensorLink6{
	margin-top: -30px;
}

#navigationMap .ascensorLink7{
	margin-left: 120px;
}

#navigationMap .ascensorLinkActive{
	background: #333;
}

#navigationMap .ascensorLink:hover{
	background:#444;
}


#ascensorFloor1{
	background: #F9B233;	
}

#ascensorFloor2{
	background: #71B5E5;	
}

#ascensorFloor3{
	background: #B3CE4A;	
}

#ascensorFloor4{
	background: #EB5D45;	
}

#ascensorFloor5{
	background: #4AAEB6;	
}

#ascensorFloor6{
	background: #E7DFBF;	
}

#ascensorFloor7{
	background: #CA9E67;	
}

/*paralax*/
#parallax {
   position:relative; overflow:hidden; width:950px; height:250px;
}
.parallax-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}




/*BLOG*/
.blogContent{
	width: 395px;
	height: 307px;
	overflow: hidden;
}
.blogContent article{
	width: 395px;
	height: 307px;
	overflow: hidden;
}

/*Premium*/

.prmContent, .stdContent{
	width: 716px;
}


/*Standard*/
.floorStandards{
	position:absolute;
	width: 100%;
}