{{each items}}
<div class="premiumProductFull product${nid}">

<div class="columnLightBox_image left premiumProductFull product${nid}"> <img src="${foto_del_producto}" title="${title}"></div>

<div class="columnLightBox_data left">
<h2>${title}</h2>

<div onclick="scrollToTop(this,'.scrollproduct');" class="small_button_product"><img src="assets/images/arrow_up.gif"/></div>
<div class="scrollproduct">
<p>${body}</p>
</div>
<div onclick="scrollToBottom(this, '.scrollproduct')" class="small_button_product"><img src="assets/images/arrow_down.gif"/>
</div>



<div>
<img src="http://msn-rd.com/eservicios/sites/default/files/66x66.png" />
<img src="http://msn-rd.com/eservicios/sites/default/files/66x66.png" />
<img src="http://msn-rd.com/eservicios/sites/default/files/66x66.png" />
<img src="http://msn-rd.com/eservicios/sites/default/files/66x66.png" />
</div>

</div>
<div class="clear"></div>

</div>
<div class="sharer">
	<div class="facebook left">
		<img src="assets/images/facebook-c.png" onclick="share.fb.item('${title}',top.location.protocol+'//'+top.location.host+top.location.pathname+'?nid=${$nid}'+top.location.hash,'${foto_del_producto}','e-Servicios','${body}');"/>
	</div>
	<div class="twitter left">
		<img src="assets/images/twittear.png" onclick="share.tw.item('${title}',top.location.protocol+'//'+top.location.host+top.location.pathname+'?nid=${$nid}'+top.location.hash);"/>
	</div>
	<div class="clear">
	</div>
</div>
<br>
{{/each}} 


